<h1> Details /  Profile</h1>
<!-- <% if(user.userRole === "Chef") {%> -->
  <div>
      <label>Profile Picture</label><br>
  </div>
  <br>
  <div>
      <label>User Role</label>
      <h5><%= user.userRole %></h5>
  </div>
  <br>
    <div>
      <label>First Name</label>
      <h5><%= user.firstName %></h5>
    </div>
    <div>
      <label>Last Name</label>
      <h5><%= user.lastName %></h5>
    </div>
  
  <div>
      <label>User Name</label>
      <h5><%= user.userName %></h5>
  </div>
  <div>
      <label>Email</label>
      <h5><%= user.emailAddress %></h5>
  </div>
  <hr>
<!-- <% } %> -->
